<%- include('../partials/header.ejs') %>


<ul>
  <% stands.forEach((element) => { %>
    <li>
      <a href="/taco-stands/<%= element._id %>"><%= element.name %></a> 
      <% if (element.averageRating !== "No ratings yet") { %>
        (<%= element.averageRating %> 🌮, <%= element.numberOfRatings %> reviews)
      <% } else { %>
        (<%= element.averageRating %>)
      <% } %>
    </li><br>
    <% }) %>
</ul>

<a href="/taco-stands/new">Add a new Taco Stand</a>

<%- include('../partials/footer.ejs') %>