<%- include('../partials/header.ejs') %>
<div><%= ratingD %></div>


<ul>
  <p>Details:</p>
  <li>
    City: <%= stand.city %>
  </li>
  <li>
    Price: <%= stand.price %>
  </li>
  <li>
    Open: <%= stand.day %>, <%= stand.hour %>
  </li>
</ul>

<a href="/taco-stands/<%= stand._id %>/edit">Edit Taco Stand</a>
<form action="/taco-stands/<%= stand._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Taco Stand</button>
</form>

<%- include('../partials/footer.ejs') %>