<%- include('../partials/header.ejs') %>

<% if (avgRating.length > 0) { %>
  <div><%= ratingD %> (<%=average%>, <%= avgRating.length %> reviews)</div>
  <% } else { %>
  <div>(No ratings yet)</div>
<% } %>

<% if (user && currentStand.owner.toString() === user._id.toString()) { %>
  <a href="/taco-stands/<%= currentStand._id %>/edit">Edit Taco Stand</a>
  <form action="/taco-stands/<%= currentStand._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Taco Stand</button>
  </form>
<% } %>

<li>
  Details:
  <ul>
    <li>
      City: <%= currentStand.city %>
    </li>
    <li>
      Price: <%= currentStand.price %>
    </li>
    <li>
    Days Open: 
    <% currentStand.day.forEach((day) => { %>
      <ul><li><%= day %></li></ul>
    <% }) %>
      <li>Hours: <%= `${currentStand.hour[0]}${currentStand.hour[1]} - ${currentStand.hour[2]}${currentStand.hour[3]}`%></li>
    </ul>
  </li>
  <li>
    Reviews:
    <ul>
      <% currentStand.reviews.forEach(review => { %>
        <li>User: <%= review.username %></li>
        <li>
          <% for (let i = 0; i < review.rating; i++) { %>
            🌮
          <% } %>
        </li>
        <li>Comment: <%= review.comment %></li>
        <% if (user && user.username === review.username) { %>
          <li>
            <a href="/taco-stands/<%= currentStand._id %>/reviews/edit">Edit Review</a>
          </li>
          <form action="/taco-stands/<%= currentStand._id %>/reviews?_method=DELETE" method="POST">
            <input type="hidden" name="reviewId" value="<%= review._id %>">
            <button type="submit">Delete Review</button>
          </form>
          <% } %>
        <% }) %>
      </ul>
  </li>
</ul>

<% let userHasReviewed = false %>

<% currentStand.reviews.forEach((review) => { %>
  <% if (user && user.username === review.username) { %>
    <% userHasReviewed = true %>
  <% } %>
<% }) %>

<% if (user && !userHasReviewed) { %>
  <a href="/taco-stands/<%= currentStand._id %>/reviews/new">Add Review</a>
<% } else if (!user) { %>
  <p><a href="/login">Please log in to add a review.</a></p>
<% } %>




<%- include('../partials/footer.ejs') %>